# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-creditbit.desktop

[Desktop Entry]
Comment=Lightweight Creditbit Client
Exec=electrum-creditbit %u
GenericName[en_US]=Electrum-Creditbit
GenericName=Electrum-Creditbit
Icon=electrum-creditbit
Name[en_US]=Electrum Creditbit Wallet
Name=Electrum Creditbit Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/creditbit;

